*, *::after, *::before {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 300px;
    position: relative;
    width: 300px;
}

.clock::after {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    content: '';
    height: 15px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
}

.clock .tick
{
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}

.clock .tick_hour::after {
    background: white;
    content: '';
    height: 20px;
    position: absolute;
    width: 7px;
}

.clock .tick_minute::after {
    background: white;
    content: '';
    height: 7px;
    position: absolute;
    width: 2px;
}

.clock .hand {
    --rotation: 0;
    bottom: 50%;
    position: absolute;
    height: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    width: 7.5px;
    z-index: 10;
}

.clock .hand.hour {
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: 2px solid black;
    height: 40%;
}

.clock .hand.minute {
    background-color: darkkhaki;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 2px solid lightgoldenrodyellow;
    height: 47%;
    width: 5px;
}

.clock .hand.second {
    background-color: rgb(194, 52, 52);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 1px solid lightpink;
    height: 49%;
    width: 2px;
}